# EditorConfig helps create consistency for formatting of all 
# the code in Dolittle
#
# http://EditorConfig.org

root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 4
charset = utf-8

[*.yml]
indent_size = 2

[*.{cs,vb}]
dotnet_sort_system_directives_first                                             = true

# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field                                            = false : warning
dotnet_style_qualification_for_property                                         = false : warning
dotnet_style_qualification_for_method                                           = false : warning
dotnet_style_qualification_for_event                                            = false : warning

dotnet_naming_rule.instance_fields_should_be_camel_case.symbols                 = instance_fields
dotnet_naming_rule.instance_fields_should_be_camel_case.style                   = instance_field_style
dotnet_naming_rule.instance_fields_should_be_camel_case.severity                = warning
dotnet_naming_style.instance_field_style.capitalization                         = camel_case
dotnet_naming_style.instance_field_style.required_prefix                        = _
dotnet_naming_symbols.instance_fields.applicable_kinds                          = field
dotnet_naming_symbols.instance_fields.applicable_accessibilities                = private

dotnet_naming_rule.public_members_must_be_capitalized.style                     = first_word_upper_case_style
dotnet_naming_style.first_word_upper_case_style.capitalization                  = first_word_upper
dotnet_naming_rule.public_members_must_be_capitalized.symbols                   = public_symbols
dotnet_naming_symbols.public_symbols.applicable_kinds                           = property,method,field,event,delegate
dotnet_naming_symbols.public_symbols.applicable_accessibilities                 = public
dotnet_naming_symbols.public_symbols.required_modifiers                         = readonly
