<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!--
     local is used when you want to reference to Dolittle local debugging packages. 
    If you want to keep this line uncommented, you need to make sure that there are no version .1000 packages in %HOME/.nuget/packages.
    You can remove all those packages by running the Build/DeleteLocalPackages.sh script 
    -->
    <add key="local" value="%HOME%/.nuget/packages"/>
    <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet" value="https://www.myget.org/F/dolittle-framework/api/v3/index.json"/>
  </packageSources>
</configuration>
