# this is to just supress the main editorconfig from applying here
root = true

[*.cs]
end_of_line = lf
indent_style = space
indent_size = 4
charset = utf-8

# dotnet_analyzer_diagnostic.severity = warning
file_header_template = Copyright (c) Dolittle. All rights reserved.\nLicensed under the MIT license. See LICENSE file in the project root for full license information.

dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.IDE0052.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.RCS1169.severity = none
dotnet_diagnostic.RCS1018.severity = none
dotnet_diagnostic.RCS1213.severity = none
